
/* 
    Document   : style
    Created on : May 31, 2014, 2:09:28 AM
    Author     : Ravi Tamada    
*/
 
body {
    width: 100%;
    height: 100vh;
    padding:0;
    margin: 0;
}

.clear{
    clear: both;

}
.container{
    min-width:100% ;
    min-height:100% ;
    margin: 0 auto;
    padding: 0;
    background-color:red;
    text-align: center;
    <!--    position:absolute; top: 0; left: 0;  -->
						 
}
#interaction{
    text-align: center;
    background-color:white;
}
#video_preview{
    min-width:100% ;
    min-height:100% ;
    background-color:blue;
}
#player, #player_wrapper{
    margin: 0 auto !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;    
    min-width: 100%;
    min-height: 100%;
}

#pdf_viewer{
    background-color:blue;
    min-width:100%;
    height:100%;
}

#pdf_js_display{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    min-width:100%;   
}

input#stream_url{
    background: none;
    border: 2px solid #92d07f;
    outline: none;
    padding: 5px 10px;
    font: 18px arial;
    color: #666;
    width: 600px;
    text-align: center;
}
#btn_start, #btn_stop, #btn_toggle{
    padding: 8px 30px;
    color: #fff;
    border: none;
    outline: none;
    font: normal 16px arial;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
}
#btn_start{
    background: #3bbe13;    
}
#btn_stop{
    background: #e6304f;   
}
#btn_toggle{
    background: blue;
}
.info{
    margin-top: 0;
    text-align: center;    
    font:normal 13px verdana;
}
.info p{
    line-heigth: 25px;
}
.info a{
    color: #f05539;
}